/** 水平方向居中对齐 */
@mixin fhc {
  display: flex;
  align-items: center;
  justify-content: center;
}

/** 竖直方向居中对齐 */
@mixin fvc {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/** 背景居中 */
@mixin bgcenter {
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}

/** 居中 */
@mixin center {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/** 宽高 */
@mixin wh($width, $height) {
  width: $width;
  height: $height;
}

@mixin lt($left, $top) {
  position: absolute;
  left: $left;
  top: $top;
}

@mixin lb($left, $bottom) {
  position: absolute;
  left: $left;
  bottom: $bottom;
}

@mixin rt($right, $top) {
  position: absolute;
  right: $right;
  top: $top;
}

@mixin rb($right, $bottom) {
  position: absolute;
  right: $right;
  bottom: $bottom;
}

/** 单行文字省略 */
@mixin text_hide() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/** 多行文字省略 */
@mixin textOverflow($x) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-break: break-all;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $x;
}
